
body {
    background-image: url('images (1).jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: rgb(255, 255, 255); 
    font-family: Arial, sans-serif; 
}
.footer {
    position: relative;
    bottom: -40px;
    left: 0;
    right: 0;
    text-align: center;
    background-color: #ff0000;
    color: rgb(255, 255, 255);
    padding: 5px;
}

h1 {
    font-family: 'Dancing Script', cursive;
    font-size: 36px; /* Tamanho da fonte */
    color: #ffffff; /* Cor do texto */
}
h2 {
    font-family: 'Dancing Script', cursive;
    font-size: 20px; /* Tamanho da fonte */
    color: #ffffff; /* Cor do texto */
}

h1, h2, p {
    text-align: center;
}


.saiba-mais-button {
    font-size: 20px; /* Tamanho da fonte do botão */
    padding: 10px 20px; /* Espaçamento interno (topo/baixo, esquerda/direita) */
    background-color: #fc0000; /* Cor de fundo do botão */
    color: white; /* Cor do texto do botão */
    border: 60px; /* Remova a borda do botão */
    border-radius: 5px; /* Borda arredondada */
    cursor: pointer; /* Mude o cursor ao passar o mouse sobre o botão */
    margin: 0 auto;
    margin-top: -60px

}
.saiba-mais-button a {
    display: inline-block;
    padding: 5px 20px;
    background-color: #ff0000; /* Cor de fundo do botão */
    color: #fff; /* Cor do texto do botão */
    text-decoration: none; /* Remova a sublinhado padrão de links */
    border: none; /* Remova a borda do botão */
    cursor: pointer;
}
.saiba-mais-button2 {
    font-size: 20px; /* Tamanho da fonte do botão */
    padding: 10px 20px; /* Espaçamento interno (topo/baixo, esquerda/direita) */
    background-color: #fc0000; /* Cor de fundo do botão */
    color: white; /* Cor do texto do botão */
    text-decoration: none; /* Remova a sublinhado padrão de links */
    border: 60px;/* Remova a borda do botão */
    border-radius: 5px; /* Borda arredondada */
    cursor: pointer; /* Mude o cursor ao passar o mouse sobre o botão */
    display: block;
    margin: 0 auto;
    text-align: center;
    margin-top: -50px;
}
.saiba-mais-button2 a {
    display: inline-block;
    padding: 5px 20px;
    background-color: #ff0000; /* Cor de fundo do botão */
    color: #fff; /* Cor do texto do botão */
    text-decoration: none; /* Remova a sublinhado padrão de links */
    border: none; /* Remova a borda do botão */
    cursor: pointer;
}
.saiba-mais-button3 {
    font-size: 20px;
    padding: 10px 20px;
    background-color: #fc0000;
    color: white;
    border: none; /* Remova a borda do botão */
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    margin-top: -50px; /* Distância do topo */
    right: 10px; /* Distância da direita */
}
.saiba-mais-button3 a {
    display: inline-block;
    padding: 5px 20px;
    background-color: #ff0000; /* Cor de fundo do botão */
    color: #fff; /* Cor do texto do botão */
    text-decoration: none; /* Remova a sublinhado padrão de links */
    border: none; /* Remova a borda do botão */
    cursor: pointer;
}
.saiba-mais-button4 {
    font-size: 20px;
    padding: 15px 20px;
    background-color: #fc0000;
    color: white;
    border: none; /* Remova a borda do botão */
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    margin-top: -18px; /* Distância do topo */
    left: 360px; /* Distância da direita */
}
.saiba-mais-button4 a {
    
    padding: 5px 20px;
    background-color: #ff0000; /* Cor de fundo do botão */
    color: #fff; /* Cor do texto do botão */
    text-decoration: none; /* Remova a sublinhado padrão de links */
    border: none; /* Remova a borda do botão */
    cursor: pointer;
}
.saiba-mais-button5 {
    font-size: 20px;
    padding: 10px 20px;
    background-color: #fc0000;
    color: white;
    border: none; /* Remova a borda do botão */
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    margin-top: -20px; /* Distância do topo */
    left: 990px; /* Distância da direita */
}
.saiba-mais-button5 a {
  display: inline-block;
    padding: 5px 20px;
    background-color: #fc0000; /* Cor de fundo do botão */
    color: #fff; /* Cor do texto do botão */
    text-decoration: none; /* Remova a sublinhado padrão de links */
    border: none; /* Remova a borda do botão */
    cursor: pointer;
}
.car-images {
    display: flex; /* Define um layout flexível para os elementos internos */
    justify-content: space-between; /* Espaçamento igual entre as imagens */
}
.car-images2 {
    display: flex; /* Define um layout flexível para os elementos internos */
    justify-content: space-between; /* Espaçamento igual entre as imagens */
}
.car-image{
    margin-right: 500px;
}
.car-image{
    margin-right: 15px;
}
.car-image3{
    margin-top: 65px;
    margin-left: 270px;
}
.car-image4{
    margin-top: 65px;
    margin-right: 280px;
}
.car-description {
    text-align: left; /* Define o alinhamento do texto para a esquerda */
    margin-left: 1px; /* Adicione uma margem à esquerda para afastar o texto da borda esquerda */
    font-size: 24px; 
    }
.car2-description {
    text-align: center; /* Alinhe o texto no centro */
    font-size: 25px; /* Tamanho da fonte para a descrição */
    margin-top: -50px;
}
.car3-description{
    text-align: right; /* Alinhe o texto no centro */
    font-size: 25px; /* Tamanho da fonte para a descrição */
    margin-top: -50px;
}
.car4-description{
    text-align: right; /* Alinhe o texto no centro */
    font-size: 25px; /* Tamanho da fonte para a descrição */
    margin-top: 20px;
    margin-right: 1010px;
}
.car5-description{
    text-align: right; /* Alinhe o texto no centro */
    font-size: 25px; /* Tamanho da fonte para a descrição */
    margin-top: -60px;
    margin-right: 360px;
}